<%- contentFor('about') %>
<section class="about">

</section>
	<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>I am a Computer Programmer Analyst</em></p>
  <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Daniel Munusami</b></p><br>
      <img src="../img/dan_sunset.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  


<h2 class="w3-center">My Skills</h2>
<div class="w3-round w3-bar daniel-theme">
  <button class="w3-round w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'London')">Programming Languages</button>
  <button class="w3-round w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Paris')">Database</button>
  <button class="w3-round w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Tokyo')">Web Development</button>
</div>

<div id="London" class="w3-container city w3-animate-opacity">
  <h2>Programming Languages</h2>
  <p class="w3-wide"></i>C++</p>
  <div class="w3-round w3-dark-grey">
    <div class=" w3-container w3-padding-small daniel-theme w3-center" style="width:90%">90%</div>
  </div>

  <p class="w3-wide"></i>C#</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:87%">87%</div>
  </div>

  <p class="w3-wide"></i>Java</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:84%">84%</div>
  </div>

  <p class="w3-wide"></i>Visual Basic</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:78%">78%</div>
  </div>

  <p class="w3-wide"></i>COBOL</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:75%">75%</div>
  </div>

</div>

<div id="Paris" class="w3-container city w3-animate-opacity">
  <h2>Database</h2>
  

  <p class="w3-wide"></i>PostgreSQL</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:86%">86%</div>
  </div>

  <p class="w3-wide"></i>MySQL</p>
  <div class="w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:84%">84%</div>
  </div>

  <p class="w3-wide"></i>SQLite</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:82%">82%</div>
  </div>

  <p class="w3-wide"></i>MongoDB</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-round w3-container w3-padding-small daniel-theme w3-center" style="width:80%">80%</div>
  </div>

  <p class="w3-wide"></i>MS Access</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-round w3-container w3-padding-small daniel-theme w3-center" style="width:92%">92%</div>
  </div>

</div>

<div id="Tokyo" class="w3-container city w3-animate-opacity">
  <h2>Web Development</h2>
  
  <p class="w3-wide"></i>HTML</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:97%">97%</div>
  </div>

  <p class="w3-wide"></i>PHP</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:90%">90%</div>
  </div>

  <p class="w3-wide"></i>CSS</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:90%">90%</div>
  </div>

  <p class="w3-wide"></i>Java Script</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:85%">85%</div>
  </div>

  <p class="w3-wide"></i>Laraval</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:80%">80%</div>
  </div>

  <p class="w3-wide"></i>Ruby on Rails</p>
  <div class="w3-round w3-dark-grey">
    <div class="w3-container w3-padding-small daniel-theme w3-center" style="width:72%">72%</div>
  </div>

</div>
</div>



<main>
	<div>
		<div class="container">
			
		</div>
	</div>
</main>

<script>
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
      activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();
</script>