<%- contentFor('snake') %>
<script src="../p5/libraries/p5.js" type="text/javascript"></script>

<script src="../p5/libraries/p5.dom.js" type="text/javascript"></script>
<script src="../p5/libraries/p5.sound.js" type="text/javascript"></script>
<script src="../p5/snake.js" type="text/javascript"></script>
<body>
	<br/>
	<div align="center">
		<h1>Snake</h1>
		<h2>How To Play:</h2>
		<p>WASD are the keys to move the snake. <br/>
			W = move UP    <br/>
			A = move LEFT  <br/>
			S = move DOWN  <br/>
			D = move RIGHT <br/>
			Collect as many snake snacks without hitting the wall or the snake itself! <br/>
			NOTE: You can not die until you have eaten your first snack!</p>
		<div id="sketch-holder">
	      <!-- My sketch will go here! -->
	    </div>
	    <hr>
	</div>
</body>